[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
[user]
	name = 森井ゴンザレス
	email = morygonzaelz@gmail.com
[core]
	editor = vim
	excludesfile = /Users/morygonzalez/.gitignore
[merge]
	tool = vimdiff
[alias]
	co = checkout
  st = status -sb
  pr = pull --rebase
  fo = fetch origin
  ro = rebase origin
  rc = rebase --continue
  wd = diff --word-diff
  lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
