*history
*.DS_Store
*.log
.*.swp
.*.un~
.bash_logout
.lesshst
.sudo_as_admin_successful
.viminfo
.zcompdump
*.mine
*.netrwhist
.gitCOMMIT_EDITMSG
update-author-*
doc/tags
doc/tags-ja
.vim/bundle/*
.vim/plugged/
.vim/view/
.rvmrc
.emacs.d/elpa/archives
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/

.config/fish/config.local.fish
.config/fish/functions/__*
.config/fish/fishd.*
.config/fisher/
.config/fisherman/
.config/hub
.config/configstore/
.config/htop/
.config/gocode/
.config/slackcat/
.config/yarn/
