[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
[user]
  name = 森井ゴンザレス
  email = morygonzalez@gmail.com
[core]
  editor = vim
  excludesfile = /Users/morygonzalez/.gitignore
  quotepath = false
[merge]
  tool = vimdiff
[alias]
  co = checkout
  st = status -sb
  pr = pull --rebase
  fo = fetch origin
  ro = rebase origin
  rc = rebase --continue
  wd = diff --word-diff
  mt = mergetool
  lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
  pr = !REP_OWNER=$(git remote -v | grep -e "origin.*github.com[:/].*\\(push\\)" | sed "s/origin.*github.com[:/]//g" | sed "s/[/].*//g") && hub pull-request $2 -h $REP_OWNER:`git rev-parse --abbrev-ref HEAD` -b $REP_OWNER:$1 && shift "$#"
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
