[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
[user]
	name = 森井ゴンザレス
	email = morygonzalez@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
[merge]
	tool = vimdiff
[alias]
	st = status -sb
	dc = diff --cached
	current-branch = rev-parse --abbrev-ref HEAD
	overwrite = push --force-with-lease
[push]
	default = simple
[diff]
	noprefix = true
	compactionHeuristic = true
[ghq]
	root = ~/src
[pager]
	log	= diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[pull]
	rebase = true
[credential]
	helper = osxkeychain
[interactive]
	diffFilter = diff-highlight
